.main {
  width: 50%;
  margin: auto;
}

.input-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.input-section input {
  line-height: 30px;
  width: 50%;
  border: 2px solid #A9A6A6;
}

.input-section p {
  float: right;
}

.error {
  color: red;
}

h2 {
  border-bottom: 2px solid #CEC7C7;
  padding-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  line-height: 30px;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

