<tbody>
  <% weight_records.each do |weight_record| %>
    <tr>
      <td><%= weight_record.customer_info %></td>
      <td><%= weight_record.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= weight_record.weight %></td>
    </tr>
  <% end %>
</tbody>
