<div class="main">
  <div class="input-section">
    <input type="text" id="weight_records_customer_info" name="weight_records[customer_info]" placeholder="请刷爱心环保卡" autofocus="true" />
    <p class="error"></p>
  </div>

  <h2>最近投放记录</h2>

  <table id="weight_records">
    <thead>
      <tr>
        <th>用户ID</th>
        <th>投放时间</th>
        <th>投放重量（g）</th>
      </tr>
    </thead>

    <tbody>
      <% @weight_records.each do |record| %>
        <tr>
          <td><%= record.customer_info %></td>
          <td><%= record.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= record.weight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
