.main {
  width: 50%;
  margin: auto;
}

.input-section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.input-section input {
  line-height: 30px;
  width: 50%;
  border: 2px solid #A9A6A6;
}

.input-section p {
  float: right;
}

.error {
  color: red;
}

h2 {
  border-bottom: 2px solid #CEC7C7;
  padding-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  line-height: 30px;
  text-align: center;
}
